html {
	font-family: sans-serif;
	color: #666;
}

.container {
  padding: 0 .5em;
}

h1 {
	font-size: 3em;
	width: 16em;
	margin: 0;
	text-transform: lowercase;
}

ul.nav,
.works ul {
  list-style-type: none;
	margin: 0;
	padding: 0;	
}

.nav li {
	display: inline;
}

.nav li:last-child:before {
	content: ' | ';
	padding: 0 .8em;
}

.works li {
	margin-bottom: 2em;
}

.container,
.works h2 {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto; 
}

.works h3,
.works p {
	font-size: 1em;  
	display: inline;
}

.works p:before {
	content: ' | ';
	padding: 0 .4em;
}

.works img {
  width: auto ;
  max-width: 100% ;
  height: auto;
  display:block;
  visibility: visible;
}

.works .thumnail {
  width: auto ;
}

.works .display {
  display: none ;
}


@media screen and (max-width: 600px) {

	.works .thumbnail {
		background-image: none !important;
	}

	h1 {
		font-size: 2.6em;
	}

}


@media screen and (min-width: 600px) {

	.works .display,
	.works .thumbnail {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	
	.works img {
		visibility: hidden;
		max-width: none;
		width: 100%;
	}

}

@media screen and (min-width: 600px) {

	body:target .mast {
		height: 2.4em;
	}

	body:target .works .display {
		display: block;
		height: 74vh;
		width: 100%;
		margin-top: -1.4em;
		text-align: right;
		
	}
		
	body:target .works img,
	body:target .works .thumbnail,
	body:target .works ul {
		height: 14vh;	
		width: auto;
	}

	body:target .works .strip {
		width: 100%;
		height: 18vh;	
		overflow: auto;
	}

	body:target .works .thumbnail,
	body:target .works ul {
		display: inline-block;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;		
	}

	body:target .works li {
		display: inline-block;
		border: 1px solid #eee;
		padding: .2em;
		margin: 0;
	}
	
	body:target .mast .nav {
		display: inline-block;
		padding-top: .4em;
	}
	
	body:target .mast h1 {
		display: inline-block;
		vertical-align: top;
	}		
	body:target .works .desc {
		display: none;
	}

	body:target .display  .desc {
		display: block;
		margin-top: -1.4em;
	}
	
}

@media screen and (min-width: 1200px) {

	.works {
 	  max-width: none;
 	  margin: 0 1em;
	}
	
}
